<nav
  class="navbar flex sm:flex-row flex-col items-center justify-between sm:py-4 sm:px-10"
>
  <div class="logo sm:w-auto w-full py-2 text-center">
    <h1
      class="text-4xl text-gray-600 font-bold"
      style="font-family: lobster; letter-spacing: 2px"
    >
      Lazeez
    </h1>
  </div>
  <div
    class="hamburger sm:py-0 py-3 flex items-center justify-center sm:border-y-0 border-y sm:w-auto w-full"
  >
    <div
      class="hamburger-nav list-none flex items-center sm:text-xl text-lg uppercase font-bold text-gray-600"
    >
      <li class="sm:mr-5 mr-3 hover:text-black"><a href="/">home</a></li>
      <li class="sm:mr-5 mr-3 hover:text-black"><a href="/">menu</a></li>
      <li class="sm:mr-5 mr-3 hover:text-black"><a href="/">orders</a></li>
    </div>
  </div>
</nav>
